
/*Menu---------------------------------------------------*/
.giraCloseD{
    animation: giraCloseD 0.3s ease-in-out forwards;
}

.giraOpenD{
    animation: giraOpenD 0.3s ease-in-out forwards;
}

.giraCloseE{
    animation: giraCloseE 0.3s ease-in-out forwards;
}

.giraOpenE{
    animation: giraOpenE 0.3s ease-in-out forwards;
}

/*Carrossel -------------------------------------------*/
.sai_carrossel{
    animation: sai_carrossel 2s ease-in-out forwards;
}

.entra_carrossel{
    animation: entra_carrossel 2s ease-in-out forwards;
}

/*Animaçoes gerais-------------------------------------*/
.ani_escrita_ED{
    animation: ani_escrita_ED 1s ease-in-out forwards;
}

.ani_escrita_DE{
    animation: ani_escrita_DE 1s ease-in-out forwards;
}

@keyframes ani_escrita_DE {
    0%{
        margin-left: 250%;
        opacity: 1;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes ani_escrita_ED {
    0%{
        margin-left: -150%;
        opacity: 1;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes sai_carrossel{
    0%{
        left: 0%;
        display: block;
        opacity: 1;
    }
    98%{
        left: -150%;
        
    }
    100%{
        opacity: 0;
        display: none;
    }
}

@keyframes entra_carrossel{
    0%{
        opacity: 0;
        right: -250%;
    }
    100%{
        display: block;
        right: 0;
        opacity: 1;
    }
}




@keyframes giraCloseD{
0%{
    transform: rotate(0deg);
    opacity: 1;
}
75%{
    opacity: 1;
}
100%{
    transform: rotate(180deg);
    opacity: 0;
    display: none;
}


}

@keyframes giraOpenD{
    0%{
        transform: rotate(45deg);
        
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: rotate(180deg);
        opacity: 1;
    }
}

@keyframes giraCloseE{
    0%{
        transform: rotate(0deg);
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: rotate(-180deg);
        opacity: 0;
        display: none;
    }
}

@keyframes giraOpenE{
    0%{
        transform: rotate(-45deg);
        
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: rotate(-180deg);
        opacity: 1;
    }
}