
@media (min-width: 960px) {

    /*Menu---------------------------------------------------------------*/

    .img_logo{
        width: 180px;
        
    }
    
   .burguer{
    display: none;
   }

   .menu{
    flex-direction: row;
    
    height: 300px;
    
    border-radius: 10px 10px 0px 0px;

    background-color: rgba(0, 0, 0, 0.150);
    
    backdrop-filter: none;
   }

   .lista_menu{
    display: flex;
    opacity: 1;
   }

   .itens_menu{
    padding-top: 20px;
    margin: 0px 20px;
   }

   /*Controle de Jornada -------------------------------------------------*/

   .container_escrita{
    background-image: url(../img/capa_jornada.jpg);
    background-position: center center;
    background-size: 55%;
    background-repeat: no-repeat;
   }

   .texto_controle_de_jornada{
    background-image: none;
   }

   /*Nossa Empresa--------------------------------------------------------*/

   .nossa_empresa{
    max-width: 950px;
   }

   /*Métodos--------------------------------------------------------------*/

   .container_metodos{
    margin: auto;
    max-width: 800px;
   }

   .carrossel_metodos{
    height: 200px;
   }

}

@media (min-width: 1281px) {
    /*Menu---------------------------------------------------------------*/
    .menu{
        margin-left: 0px;
        
    }

    /*Controle de Jornada-------------------------------------------------*/
    
    .container_escrita{
        background-image: url(../img/capa_jornada.jpg);
        background-position: center center;
        background-size: 25%;
        background-repeat: no-repeat;
       }
}