@media (min-width: 960px) {

    /*Menu*/

    .img_logo{
        width: 200px;
        
    }
    
   .burguer{
    display: none;
   }

   .menu{
    flex-direction: row;
    
    height: 300px;
    border-radius: 10px 10px 0px 0px;

    background-color: rgba(0, 0, 0, 0.150);
    
    backdrop-filter: none;
   }

   .lista_menu{
    display: flex;
    opacity: 1;
   }

   .itens_menu{
    padding-top: 20px;
    margin: 0px 20px;
   }
}